          <ul class="sidebar-menu">
              <li{{ ' class="active"'|is_active('^index(.*)', page)|safe }}><a class="nav-link" href="index.html"><i class="fas fa-fire"></i><span>Dashboard</span></a></li>
              <li{{ ' class="active"'|is_active('^proker(.*)', page)|safe }}><a class="nav-link" href="proker.html"><i class="fas fa-briefcase"></i><span>Program Kerja</span></a></li>
              <li class="nav-item dropdown{{ ' active'|is_active('^report-(.*)', page)|safe }}">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-wallet"></i> <span>Transaksi</span></a>
                <ul class="dropdown-menu">
                  <li{{ ' class="active"'|is_active('^transactions(.*)', page)|safe }}><a class="nav-link" href="report-ketua.html">Transaksi</a></li>
                  <li{{ ' class="active"'|is_active('^report(.*)', page)|safe }}><a class="nav-link" href="report.html">Laporan</a></li>
                </ul>
              </li>
            </ul>
