{% set title = 'Report' %}
{% set page = 'report-pengawas.html' %}
{% extends 'layouts/master-pengawas.html' %}

{% block plugins_css %}
  <link rel="stylesheet" href="../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
  <link rel="stylesheet" href="../node_modules/chocolat/dist/css/chocolat.css">
{% endblock %}

{% block content %}
        <section class="section">
          <div class="section-header" style="justify-content: space-between;">
            <h1>Laporan</h1>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Organisasi Kemahasiswaan</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="table-1">
                      <tr>
                        <th class="sorting" tabindex="0">No</th>
                        <th>Nama</th>
                        <th>Periode</th>
                        <th>Laporan Bulan</th>
                        <th>Aksi</th>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>HIMTI</td>
                        <td>2022</td>
                        <td><select class="form-control selectric">
                          <option>Desember 2022</option>
                          <option>Januari 2023</option>
                          <option>Februari</option>
                        </select></td>
                        <td><button class="btn btn-primary" onclick="location.href='report-pengawas-ok.html';">
                          Lihat Laporan</button></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>BNCC</td>
                        <td>2022</td>
                        <td>Belum ada laporan yang dikirim</td>
                        <td><button class="btn btn-primary disabled">
                          Lihat Laporan</button></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <nav class="d-inline-block">
                    <ul class="pagination mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                      </li>
                      <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}

{% block plugins_js %}
  <script src="../node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
  <script src="../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
{% endblock %}

{% block page_js %}
  <script src="../assets/js/page/index.js"></script>
{% endblock %}
