{% set title = 'Kelola' %}
{% set page = 'user.html' %}
{% extends 'layouts/master-pengawas.html' %}

{% block plugins_css %}
  <link rel="stylesheet" href="../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">
  <link rel="stylesheet" href="../node_modules/chocolat/dist/css/chocolat.css">
{% endblock %}

{% block content %}
        <section class="section">
          <div class="section-header" style="justify-content: space-between;">
            <h1>Kelola Pengurus</h1>
          </div>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h5>Filter</h5>
                </div>
                <div class="card-body">
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="inputCity">Berdasarkan peran</label>
                      <select id="inputState" class="form-control">
                        <option selected>Semua</option>
                        <option>Ketua</option>
                        <option>Bendahara</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Kelola Pengurus</h4>
                  <div class="card-header-action">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="table-1">
                      <tr>
                        <th class="sorting" tabindex="0">No</th>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Peran</th>
                        <th>Organisasi</th>
                        <th>Periode</th>
                        <th>Aksi</th>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>234</td>
                        <td>Vanes</td>
                        <td>vanes@gmail.com</td>
                        <td>Bendahara</td>
                        <td>HIMTI</td>
                        <td>2022</td>
                        <td><button class="btn btn-primary" data-confirm="Terima pengurus|Apakah Anda benar-benar ingin menerima pengurus ini?"" data-confirm-yes="alert('Deleted :)');">
                            Terima</button>
                          <button class="btn btn-danger" data-confirm="Tolak Pengurus|Apakah Anda benar-benar ingin menolak pengurus ini?"" data-confirm-yes="alert('Deleted :)');">
                            Tolak</button>
                        </td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>234</td>
                        <td>Sof</td>
                        <td>sof@gmail.com</td>
                        <td>Ketua</td>
                        <td>HIMTI</td>
                        <td>2022</td>
                        <td><button class="btn btn-primary" data-confirm="Terima pengurus|Apakah Anda benar-benar ingin menerima pengurus ini?"" data-confirm-yes="alert('Deleted :)');">
                          Terima</button>
                        <button class="btn btn-danger" data-confirm="Tolak Pengurus|Apakah Anda benar-benar ingin menolak pengurus ini?"" data-confirm-yes="alert('Deleted :)');">
                          Tolak</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <nav class="d-inline-block">
                    <ul class="pagination mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                      </li>
                      <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}

{% block plugins_js %}
  <script src="../node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
  <script src="../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
{% endblock %}

{% block page_js %}
  <script src="../assets/js/page/index.js"></script>
{% endblock %}
